body{
    background-color:white;
    color: black;
}
.logo{
    float: left;
    padding: 20px;
    

}
.search{
    float: right;
    padding: 20px;
    
}
.clearfix{
    clear: both;
}
.nev{
    background-color: #4ABFFC;
}
.nev > ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.nev > ul > li{
    display: inline-block;
}
.nev > ul > li > a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding: 30px;
    font-family: sans-serif;
    font-size: larger;
}
.nev > ul > li > a:hover{
    background-color: green;
}
.drop{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: none;
}
.drop > li > a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-family: sans-serif;
    font-size: large;
    background-color: green;

}
.drop > li > a:hover{
    background-color: #4ABFFC;
}
.nev > ul > li:hover .drop{
    display: block;
}
.banner{
    width: 1410;
    height: 460px;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: auto;
}
.allhomeabout{
    background-color: white;
   
    padding: 30px;
}
.homeabout{
    width: 650px;
    height: 400px;
    padding: 10px;
    float: left;
    background-color: white;
    color: #4ABFFC;
}
.haphoto img{
    width: 650px;
    height: 400px;
    padding: 10px;
    float: right;
}
.whyus{
    background-color: #4ABFFC;
    padding: 20px;
}

.aaaaaa{
    color: white;
}
.mmmmmmm{
    background-color: blanchedalmond;
}
.sssssss{
    background-color: blanchedalmond;
}
.footer{
    background-color: #4ABFFC;
    color: white;
    padding: 25px;
    width: 1360px;
    height: auto;
}
.footerbox{
    width: 340px;
    height: auto;
    float: left;
}
.footerbox > img{
    background-color: white;
    margin: auto;
    padding: 5px;
}
.footerbox p{
    width: 253px;
}

.footerbox > ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.footerbox > ul > li{
    display: block;
    margin: 5px;
    color: white;
    font-size: small;
    text-decoration: none;
}
.footerbox address a{
    color: olive;
}
.footerbox > ul > li > a{
    
    margin: 5px;
    color: white;
    font-size: small;
    text-decoration: none;
}
.copyr{
    padding-left: 577px;
}
.servipage ul li{
    display: inline-block;
    list-style-type: none;
    
    margin: auto;
}
.servipage ul li a{
text-align: center;
font-size: 40px;
text-decoration: none;
color: black;
background-color: #4ABFFCtg;
}
.servipage > ul > li{
    background-color: #4ABFFC;
}
.servipage > ul > li > a > div > img{
    padding: 20px;
}
.servicetop{
    text-align: center;
    color: #4ABFFC;
    
}
.sheadline{
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    color: #4ABFFC;
}
.inswebdtop a{
    text-align: center;
    color: #4ABFFC;
    text-decoration: none;
}
.sercon{
    align-items: center;
    padding-left: 500px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.indhead{
    color: #4ABFFC;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.ind-table{
    margin: auto;
}
.ind-table tr th{
    padding: 50px;
}
.pricinghead{
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    color: #4ABFFC;
}
.pricingtable{
    padding-left: 490px;
}
.contactform{
    background-color: #4ABFFC;
  
}